body {
  padding: 50px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
